.dmy{
    display: flex;
    flex-direction: row;
}
.lbl{
    display: flex;
    flex-direction: column;
}
.dmy p{
    margin: 0 10px 0 0;
    display:inline;
}
.dmy input{
   width: 50px;
   height: 30px;
   border-radius: 5px 5px 5px 5px;
   margin-right: 20px;
}
.arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.line {
    border-bottom: 2px solid #000000;
    width: 400px;
}
.gambar {
    width: 100px;
    background-color: rgb(168, 27, 178);
    border-radius: 50px 50px 50px 50px;
}
.hasil {
    display: flex;
    flex-direction: row;
}
.hasil2 {
    color: rgb(141, 31, 201);
    margin: 0 20px 30px 20px;
    padding-left: 30px;
    font-size: 50px;
}
.hasil3 {
    margin-top: 15px;
    margin-bottom: 40px;
}